In [1]:
# importing all the important modules
import pandas as pd 
from sklearn.linear_model import LogisticRegression 
import numpy as np

In [ ]:
# loading testng and training data
titanic=pd.read_csv("0000000000002429_training_titanic_x_y_train.csv")
T_data=pd.read_csv("0000000000002429_test_titanic_x_test.csv")

In [ ]:
# filling nan values
titanic.Age.fillna(titanic.Age.interpolate(),inplace=True)

T_data.Age.fillna(T_data.Age.interpolate(),inplace=True)

In [ ]:
# converting string values to integers
def f(s):
    if s=="male":
        return 1
    else:
        return 0
    
titanic["Sex"]=titanic.Sex.apply(f)    



def f(s):
    if s=="male":
        return 1
    else:
        return 0
    
T_data["Sex"]=T_data.Sex.apply(f)

In [88]:
def f(s):
    if s=="C":
        return 0
    elif s=="Q":
        return 1
    else:
        return 2
    
titanic["Embarked"]=titanic.Embarked.apply(f)



def f(s):
    if s=="C":
        return 0
    elif s=="Q":
        return 1
    else:
        return 2
    
T_data["Embarked"]=T_data.Embarked.apply(f)

In [89]:
# dropping unwanted data 
titanic.drop("Name",axis=1,inplace=True)
titanic.drop("Cabin",axis=1,inplace=True)
titanic.drop("Ticket",axis=1,inplace=True)




T_data.drop("Name",axis=1,inplace=True)
T_data.drop("Cabin",axis=1,inplace=True)
T_data.drop("Ticket",axis=1,inplace=True)

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       2    1   8.0      1      1  36.7500         2
1       1    0  49.0      0      0  25.9292         2
2       3    1  36.5      0      0   7.7375         1
3       2    0  24.0      2      1  27.0000         2
4       1    1  36.0      0      0  26.2875         2

In [91]:
# preprocessing the data
data=titanic.to_numpy()
data1=T_data.to_numpy()
scaler=preprocessing.StandardScaler()
scaler.fit(data)
scaler.transform(data)
X=data[:,0:7]
Y=data[:,7:8]

In [92]:
from sklearn import preprocessing
scaler=preprocessing.StandardScaler()
scaler.fit(data1)
scaler.transform(data1)

# splitting into training and testing data
from sklearn import model_selection
X_train,X_test,Y_train,Y_test=model_selection.train_test_split(X,Y)

In [93]:
# trainign model
clf=LogisticRegression()
clf.fit(X_train,Y_train)

/srv/conda/envs/notebook/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/srv/conda/envs/notebook/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [99]:
# getting predictions
Y_pred=clf.predict(data1)
Y_pred=Y_pred.reshape(-1,1)
np.savetxt("titanic2.csv",Y_pred)

In [97]:
clf.score(X_test,Y_test)

0.7964071856287425